.custom h1{
     color: transparent;
     -webkit-text-stroke: 1px #fff;
     background: url(../../assets/back.png);
     -webkit-background-clip: text;
     animation: back 20s linear infinite;
}
@keyframes back{
     100% {
          background-position: 2000px 0;
     }
}